// single blog
.color-title-2 {
  font-size: $fs-pc-xxxl;
  font-weight: 800;
  background: -webkit-linear-gradient(right, #EE8B60 0%, #ddd 60%, #31BFAE 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
.single-blog-hero {
  justify-content: space-evenly;
  border-bottom: 1px solid #2b3236;
}
.bg-gray1 {
  background-color: #F6F6F6;
}
.blog-btn {
  background-color: $color-gray;
  border-radius: 10px;
  text-align: center;
  color: $color-bg1;
  padding: 12px 15px;
  width: 100%;
}
.blog-sticky-sidebar {
  position: sticky;
  top: 80px;
}
.blogs-complete-description {
  font-size: $fs-mob-xl;
  color: $color-text;
  line-height: 2.5;
  text-align: justify;
}
.blog-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  background: $color-bg1;
  box-shadow: 0px 0px 23px 8px rgba(11,14,15,0.64);
  border-radius: 10px;
}
.blog-box-img {
  padding-top: 60%;
  background-image: url("/assets/img/blogs/blog-1.webp");
  background-position: center;
  background-size: cover;
  border-radius: 10px 10px 0 0;
}
.blog-box-link {
  text-decoration: none;
  display: flex;
  align-items: center;
}
.blog-box-details {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
// single blog
