@font-face {
  src: url("../fonts/amiri.ttf");
  font-family: amiri;
}

#address {
  .contact-info-content {
    padding: 20px 100px;
    background-color: $color-bg2;
    color: $color-text;
    width: 100%;
    height: 350px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 0 0 10px 10px;
  }
}

#world{
  h3{
    margin: 100px 0 100px 0;
    font-size: $fs-pc-xxl;
    font-weight: bolder;
    color: $color-gray;
span{
  color: $color-purple;
}
  }
  .world-bg{
    img{
      display: block;
      max-width: 100%;
      height: auto;
    }
  }
}


#contact {
  .contact-address{
    h5{
      color: $color-text;
      text-align: right;
      font-weight: lighter;
    }
  }
  h3 {
    margin: 100px 0 100px 0;
    font-size: $fs-pc-xxl;
    font-weight: bolder;
    color: $color-gray;

    span {
      color: $color-green;
    }

  }
  .input-wrapper input {
    background-color: $color-bg2;
    border: none;
    padding: 0.5rem;
    font-size: $fs-mob-lg;
    width: 100%;
    border-radius: 1rem;
    color: $color-text;
    box-shadow: 0 0.4rem #2b323633;
    cursor: pointer;
  }

  .input-wrapper input:focus {
    outline-color: $color-green;
    border: 1px solid $color-green;
  }
  .input-wrapper textarea {
    background-color: $color-bg2;
    border: none;
    padding: 0.5rem;
    font-size: $fs-mob-lg;
    width: 100%;
    height: 98px;
    border-radius: 1rem;
    color: $color-text;
    box-shadow: 0 0.4rem #2b323633;
    cursor: pointer;
  }


  .input-wrapper textarea:focus {
    outline-color: $color-green;
    border: 1px solid $color-green;
  }
}
#tel-sec{
  img{
    max-width: 100%;
    height: auto;
    display: block;
  }
  .type-text{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-shadow: 1px 2px 3px $color-bg2;
    h4{
      color: $color-gray;
      font-family: amiri, Vazirmatn, serif;
      font-size: $fs-pc-xl;
      font-weight: bolder;
      letter-spacing: 1px;
    }
  }
}