// footer

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: $color-text !important;
}
.footer-box {
  //border-top: 2px solid $color-gray;
  background: $color-bg1;
  color: $color-text;

  h5 {
    color: $color-gray;
  }

  footer {
    .nav-item {
      a {
        display: inline-flex;
        color: $color-text;

        &:hover {
          transform: scale(105%);
          color: $color-gray;
        }
      }
    }

    .bd-placeholder-img {
      font-size: $fs-tab-xl;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    .b-example-divider {
      width: 100%;
      height: 3rem;
      background-color: rgba(0, 0, 0, .1);
      border: solid rgba(0, 0, 0, .15);
      border-width: 1px 0;
      box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
    }

    .b-example-vr {
      flex-shrink: 0;
      width: 1.5rem;
      height: 100vh;
    }

    .bi {
      vertical-align: -.125em;
      fill: currentColor;
    }

    .nav-scroller {
      position: relative;
      z-index: 2;
      height: 2.75rem;
      overflow-y: hidden;

      .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }
    }

    .bd-mode-toggle {
      z-index: 1500;
    }

    // footer input
    .input-group {
      display: flex;
      align-items: center;
    }

    .input {
      min-height: 50px;
      max-width: 300px;
      padding: 0 1rem;
      color: #fff;
      font-size: $fs-mob-lg;
      border: 1px solid $color-green;
      border-radius: 6px;
      background-color: transparent;

      &:focus {
        border-color: #3898EC;
        outline: none;
      }

      &:focus-visible {
        border-color: #3898EC;
        outline: none;
      }
    }

    .button--submit {
      min-height: 50px;
      padding: .5em 1em;
      border: none;
      border-radius: 6px;
      // background: rgb(138, 137, 137);
      // background: linear-gradient(60deg, $color-purple 22%, $color-orange 55%, $color-purple 73%);
      background: $color-green;
      color: black;
      font-size: $fs-mob-lg;
      cursor: pointer;
      transition: background-color .9s ease-in-out;

      // &:hover {
      //   background: linear-gradient(60deg, $color-purple 26%, $color-orange 58%, $color-purple 77%);
      // }
    }

    .copyright-text {
      a {
        text-decoration: none;
        color: $color-xmen;
      }
    }

    .list-unstyled {
      i {
        transition: 100ms;
        color: $color-green;

        &:hover {
          transform: scale(135%);
        }
      }
    }
  }
}

.input-group2 {
	position: relative;
  direction: ltr;
}
.input2 {
	border: solid 1.5px #9e9e9e;
	border-radius: 8px;
	background: none;
	padding: 1rem;
	font-size: $fs-mob-md;
	color: #f5f5f5;
	transition: border 150ms cubic-bezier(0.4,0,0.2,1);
	&:focus {
		outline: none;
		border: 1px solid $color-gray;
		~ {
			label {
				transform: translateY(-50%) scale(0.8);
				background-color: transparent;
				padding: 0 .2em;
				color: $color-green;
        font-weight: 500;
			}
		}
	}
}
.user-label {
	position: absolute;
	left: 15px;
	color: #e8e8e8;
	pointer-events: none;
	transform: translateY(1rem);
	transition: 150ms cubic-bezier(0.4,0,0.2,1);
}
input {
	&:valid {
		outline: none;
		border: 1.5px solid #1a73e8;
		~ {
			label {
				transform: translateY(-50%) scale(0.8);
				background-color: #212121;
				padding: 0 .2em;
				color: #2196f3;
			}
		}
	}
}


// footer