// blogs styles
.blogs-title {
  font-size: $fs-pc-xxxl;
  max-width: 250px;
  letter-spacing: -5px;
  font-weight: 700;
  color: $color-text;
}
.color-title {
  font-size: $fs-pc-xxxl;
  font-weight: 800;
  background: -webkit-linear-gradient(right, #4B39EF 0%, #ddd 80%, #31BFAE 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  max-width: 290px;
}
.blogs-small-title {
  font-size: $fs-mob-xl;
  font-weight: 500;
  color: $color-text;
}
.bb-color1 {
  border-bottom: 1px solid transparent;
  border-image: linear-gradient(90deg, #4B39EF 0%, #ddd 80%, #31BFAE 100%);
  border-image-slice: 1;
}
.br-color1 {
  border-right: 1px solid transparent;
  border-image: linear-gradient(0deg, #2ca2b4, #4B39EF 0%, #ddd 80%, #31BFAE 100%);
  border-image-slice: 1;
}
.blogs-small-des {
  color: $color-gray;
  font-size: $fs-mob-lg;
}
.btn-gray {
  background-color: $color-text;
  color: $color-bg1;
  transition: all .3s ease-in-out;
  border-radius: 8px;
}
.btn-color {
  background: linear-gradient(45deg, #4B39EF 0%, #ddd 80%, #31BFAE 100%);
  color: $color-text;
  background-size: 200% 100%;
  transition: all .3s ease-in-out;
  border-radius: 8px;
}
.blogs-small-color-title {
  background: radial-gradient(circle, #2ca2b4, #5598de 24%, #7f87ff 45%, #ec3d43, #f65aad 76%, );
  background-clip: text;
  color: transparent;
  background: -webkit-linear-gradient(right, #4B39EF 0%, #ddd 80%, #31BFAE 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  max-width: 100px;
}
.medium-title {
  color: $color-text;
  font-size: $fs-pc-xl;
  font-weight: 600;
}
.writer-img {
  border-radius: 50%;
  width: 50px;
  border: 1px solid #D9D9D9;
}
.blogs-small-text {
  font-size: $fs-mob-lg;
  color: $color-gray;
}
.blogs-medium-des {
  font-size: $fs-mob-lg;
  color: $color-text;
}
.blogs-img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
}
.xsmall-text {
  color: $color-gray;
}
.blogs-link {
  text-decoration: none;
}
// blogs styles