// mobile font sizes
$fs-mob-sm: 12px;
$fs-mob-md: 14px;
$fs-mob-lg: 16px;
$fs-mob-xl: 18px;
// mobile font sizes

// tablet font sizes
$fs-tab-sm: 18.5px;
$fs-tab-md: 20px;
$fs-tab-lg: 22px;
$fs-tab-xl: 24px;
// tablet font sizes

// pc font sizes
$fs-pc-sm:23px;
$fs-pc-md: 26px;
$fs-pc-lg: 32px;
$fs-pc-xl: 40px;
$fs-pc-xxl: 45px;
// pc font sizes

// pc font extra sizes
$fs-pc-xxxl: 75px;
$fs-pc-xxxl-mob: 55px;
// pc font extra sizes

// responsive font sizes
      //320px (eg: iPhone 4 & 5) 	16px
      //768px (eg: iPad portrait) 	18px
      //1024px (eg: iPad landscape) 	19px
      //1280px 	20px
      //1536px 	21px
      //1920px 	23px
      //2560px 	25px