// colors

$color-bg1: #14181B;
$color-bg2: #1D2429;
$color-text: #ddd;
$color-xmen: #d6181a;
$color-gray: #909090;
$color-purple: #4B39EF;
$color-green: #31BFAE;
$color-orange: #EE8B60;


// colors

// scss styles

* {
  font-family: "Vazirmatn", serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  list-style: none;
}

.paragraph {
  padding-top: 80px;
  color: $color-text;
  font-weight: bolder;
  line-height: 1.7;
  text-align: justify;
  font-size: 19px;


}

// footer
.footer-box {
  border-top: 2px solid $color-gray;
  background: $color-bg1;
  color: $color-text;

  h5 {
    color: $color-purple;
  }

  footer {
    .nav-item {
      a {
        display: inline-flex;
        color: $color-text;

        &:hover {
          transform: scale(105%);
          color: $color-gray;
        }
      }
    }

    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    .b-example-divider {
      width: 100%;
      height: 3rem;
      background-color: rgba(0, 0, 0, .1);
      border: solid rgba(0, 0, 0, .15);
      border-width: 1px 0;
      box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
    }

    .b-example-vr {
      flex-shrink: 0;
      width: 1.5rem;
      height: 100vh;
    }

    .bi {
      vertical-align: -.125em;
      fill: currentColor;
    }

    .nav-scroller {
      position: relative;
      z-index: 2;
      height: 2.75rem;
      overflow-y: hidden;

      .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }
    }

    .bd-mode-toggle {
      z-index: 1500;
    }

    // footer input
    .input-group {
      display: flex;
      align-items: center;
    }

    .input {
      min-height: 50px;
      max-width: 300px;
      padding: 0 1rem;
      color: #fff;
      font-size: 15px;
      border: 1px solid $color-purple;
      border-radius: 6px 0 0 6px;
      background-color: transparent;

      &:focus {
        border-color: #3898EC;
        outline: none;
      }

      &:focus-visible {
        border-color: #3898EC;
        outline: none;
      }
    }

    .button--submit {
      min-height: 50px;
      padding: .5em 1em;
      border: none;
      border-radius: 0 6px 6px 0;
      background: rgb(138, 137, 137);
      background: linear-gradient(60deg, $color-purple 22%, $color-orange 55%, $color-purple 73%);
      color: black;
      font-size: 15px;
      cursor: pointer;
      transition: background-color .9s ease-in-out;

      &:hover {
        background: linear-gradient(60deg, $color-purple 26%, $color-orange 58%, $color-purple 77%);
      }
    }

    .copyright-text {
      a {
        text-decoration: none;
        color: $color-xmen;
      }
    }

    .list-unstyled {
      i {
        transition: 100ms;

        &:hover {
          transform: scale(135%);
        }
      }
    }

    //responsive
    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  }
}

// footer

//about-us.html
// our story
#our-story {
  .img {
    max-width: 1400px;
    height: 400px;
    background-image: url("../img/about/about1.jpg");
    border-radius: 10px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }

  h3 {
    margin-top: 80px;
    background: -webkit-linear-gradient(right, #4B39EF 0%, #ddd 80%, #31BFAE 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 80px;
  }
}

// our story
// our service
#our-service {
  background-color: $color-bg2;
padding: 50px 0 90px 0;

  .service-box {
    span {
      border: 1px solid $color-gray;
      padding: 3px 40px 3px 40px;
      border-radius: 50px;
      font-size: 15px;
      letter-spacing: 2px;
      font-weight: bolder;
      color: $color-text;
    }

    h3 {
      font-weight: bolder;
      font-size: 80px;
    }
  }

  .service-box2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: $color-text;
  }
  .serv-item {
    padding: 60px 40px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    display: block;
    color: white;

    h3{
      font-size:30px;
      font-weight: lighter;
    }
    p{
      font-size:16px;
      font-weight: lighter;
      text-align: justify;
      padding-top: 37px;
    }
  }
}
