// colors

$color-bg1:#14181B;
$color-bg2:#1D2429;
$color-purple:#4B39EF;
$color-green:#31BFAE;
$color-orange:#EE8B60;


// colors

// scss styles

* {
  font-family: "Vazirmatn", serif;
  box-sizing: border-box;
  overflow-x: hidden;
}

// footer
footer{

}