// color pallets
@import "colors";
// color pallets

// font size
@import "fonts";
// font size

// scss styles

* {
  font-family: "Vazirmatn", serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  list-style: none;
  scroll-behavior: smooth;
}

.paragraph {
  padding-top: 80px;
  color: $color-text;
  font-weight: bolder;
  line-height: 1.7;
  text-align: justify;
  font-size: 19px;
}

body{
  overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $color-gray;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $color-xmen;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

// our-works
@import "our-works";
// our-works

// project-reg
@import "project-reg";
// project-reg

// contact-dev
@import "contact-dev";
// contact-dev

// about-us.html
@import 'about-us';
// about-us.html

// footer
@import "footer";
// footer

// index.html
@import "index";
// index.html

// index.html
@import "blogs";
// index.html

// index.html
@import "blog";
// index.html

// contact-us
@import "contact-us";
// contact-us

// Responsive
@import 'responsive';
// Responsive
