// project-reg.html - user form
#main-form{
  .up-contact{
    background-color: $color-bg2;
    color: $color-text;
    letter-spacing: 0.1px;
  }

  #user-form {
    background-color: $color-bg2;
    color: $color-text;
    label{
      color: $color-text;
      font-weight: bolder;
      font-size: 22px;
      margin: 20px 0 20px 0;
    }

  }
}
// project-reg.html - user form