* {
  font-family: "Vazirmatn", serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  list-style: none;
}

.paragraph {
  padding-top: 80px;
  color: #ddd;
  font-weight: bolder;
  line-height: 1.7;
  text-align: justify;
  font-size: 19px;
}

.footer-box {
  border-top: 2px solid #909090;
  background: #14181B;
  color: #ddd;
}
.footer-box h5 {
  color: #4B39EF;
}
.footer-box footer .nav-item a {
  display: inline-flex;
  color: #ddd;
}
.footer-box footer .nav-item a:hover {
  transform: scale(105%);
  color: #909090;
}
.footer-box footer .bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.footer-box footer .b-example-divider {
  width: 100%;
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1), inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}
.footer-box footer .b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}
.footer-box footer .bi {
  vertical-align: -0.125em;
  fill: currentColor;
}
.footer-box footer .nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}
.footer-box footer .nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}
.footer-box footer .bd-mode-toggle {
  z-index: 1500;
}
.footer-box footer .input-group {
  display: flex;
  align-items: center;
}
.footer-box footer .input {
  min-height: 50px;
  max-width: 300px;
  padding: 0 1rem;
  color: #fff;
  font-size: 15px;
  border: 1px solid #4B39EF;
  border-radius: 6px 0 0 6px;
  background-color: transparent;
}
.footer-box footer .input:focus {
  border-color: #3898EC;
  outline: none;
}
.footer-box footer .input:focus-visible {
  border-color: #3898EC;
  outline: none;
}
.footer-box footer .button--submit {
  min-height: 50px;
  padding: 0.5em 1em;
  border: none;
  border-radius: 0 6px 6px 0;
  background: rgb(138, 137, 137);
  background: linear-gradient(60deg, #4B39EF 22%, #EE8B60 55%, #4B39EF 73%);
  color: black;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.9s ease-in-out;
}
.footer-box footer .button--submit:hover {
  background: linear-gradient(60deg, #4B39EF 26%, #EE8B60 58%, #4B39EF 77%);
}
.footer-box footer .copyright-text a {
  text-decoration: none;
  color: #d6181a;
}
.footer-box footer .list-unstyled i {
  transition: 100ms;
}
.footer-box footer .list-unstyled i:hover {
  transform: scale(135%);
}
@media (min-width: 768px) {
  .footer-box footer .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

#our-story .img {
  max-width: 1400px;
  height: 400px;
  background-image: url("../img/about/about1.jpg");
  border-radius: 10px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
#our-story h3 {
  margin-top: 80px;
  background: -webkit-linear-gradient(right, #4B39EF 0%, #ddd 80%, #31BFAE 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 80px;
}

#our-service {
  background-color: #1D2429;
  padding: 50px 0 90px 0;
}
#our-service .service-box span {
  border: 1px solid #909090;
  padding: 3px 40px 3px 40px;
  border-radius: 50px;
  font-size: 15px;
  letter-spacing: 2px;
  font-weight: bolder;
  color: #ddd;
}
#our-service .service-box h3 {
  font-weight: bolder;
  font-size: 80px;
}
#our-service .service-box2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #ddd;
}
#our-service .serv-item {
  padding: 60px 40px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  display: block;
  color: white;
}
#our-service .serv-item h3 {
  font-size: 30px;
  font-weight: lighter;
}
#our-service .serv-item p {
  font-size: 16px;
  font-weight: lighter;
  text-align: justify;
  padding-top: 37px;
}

#faq .valign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
#faq .valign .imgs {
  position: relative;
  margin-bottom: 80px !important;
}
#faq .valign .imgs .img1 {
  margin: 50px;
}
#faq .valign .imgs .img1:before {
  content: "";
  position: absolute;
  right: -30px;
  bottom: -30px;
  width: 200px;
  height: 200px;
  background-image: url("../img/about/dots2.png");
  background-repeat: repeat;
  z-index: -1;
}
#faq .valign .imgs .img1 img {
  width: 100%;
  height: auto;
  border-radius: 30px;
}
#faq .valign .imgs .img1:after {
  content: "";
  position: absolute;
  left: -2px;
  top: 0;
  width: 8px;
  height: 150px;
  background: #31BFAE;
}
#faq .valign .imgs .img2 {
  position: absolute;
  bottom: -50px;
  left: 0;
  width: 50%;
  z-index: 4;
}
#faq .valign .imgs .img2 img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  border: 1px double #4B39EF;
}
#faq .jumbotron {
  color: #ddd;
}
#faq .jumbotron .jumb-title {
  background: -webkit-linear-gradient(right, #4B39EF 0%, #EE8B60 60%, #31BFAE 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 60px;
}
@keyframes radar81 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#faq .jumbotron .spin {
  margin: auto;
  position: relative;
  width: 170px;
  height: 170px;
  background: transparent;
  border-radius: 50%;
  box-shadow: 25px 25px 75px rgba(0, 0, 0, 0.55);
  border: 1px solid #333;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
#faq .jumbotron .spin::before {
  content: "";
  position: absolute;
  inset: 20px;
  background: transparent;
  border: 1px dashed #444;
  border-radius: 50%;
  box-shadow: inset -5px -5px 25px rgba(0, 0, 0, 0.25), inset 5px 5px 35px rgba(0, 0, 0, 0.25);
}
#faq .jumbotron .spin::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px dashed #444;
  box-shadow: inset -5px -5px 25px rgba(0, 0, 0, 0.25), inset 5px 5px 35px rgba(0, 0, 0, 0.25);
}
#faq .jumbotron .spin span {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 100%;
  background: transparent;
  transform-origin: top left;
  animation: radar81 2s linear infinite;
  border-top: 1px dashed #fff;
}
#faq .jumbotron .spin span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #31BFAE;
  transform-origin: top left;
  transform: rotate(-55deg);
  filter: blur(30px) drop-shadow(20px 20px 20px #31BFAE);
}

#about-cards {
  padding-top: 50px;
}
#about-cards h1 {
  font-weight: bolder;
  font-size: 45px;
  color: #ddd;
}

/*# sourceMappingURL=index.css.map */
